# Dependencias de JavaScript
node_modules/

# Variables y configuraciones privadas
.env
.env.*

# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/

# Registros y archivos temporales
*.log
*.tmp
*.bak
*~

# Compilaciones
dist/
build/

# Python futuro
__pycache__/
*.pyc
.venv/
venv/